[submodule "SideBarEnhancements"]
	path = SideBarEnhancements
	url = https://github.com/titoBouzout/SideBarEnhancements
[submodule "Sublime-HTMLPrettify"]
	path = Sublime-HTMLPrettify
	url = https://github.com/victorporof/Sublime-HTMLPrettify
[submodule "Syntax-highlighting-for-Sass"]
	path = Syntax-highlighting-for-Sass
	url = https://github.com/P233/Syntax-highlighting-for-Sass
[submodule "emmet-sublime"]
	path = emmet-sublime
	url = https://github.com/sergeche/emmet-sublime
